
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Courses</h1>

<f:flashMessages />

<table  class="tx_iscourses2" >
	<tr>
		<th><f:translate key="tx_iscourses2_domain_model_courses.titel" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.beschreibung" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.kosten" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.dauer" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.kurstage" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.detail_url" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.anmelde_url" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.kurs_adresse" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.kursort" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.start_datum" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.end_datum" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.anmeldeschluss_datum" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.anz_teilnehmer" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.max_teilnehmer" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.status" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.external_id" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.stammdatensatz_id" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.anzeige_bis_enddatum" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.unterlagen_links" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.teacher_text" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.picture" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.statistik" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.log" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.stats_only_record" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_courses.stats_reminder_sent" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{coursess}" as="courses">
		<tr>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.titel}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.beschreibung}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.kosten}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.dauer}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.kurstage}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.detailUrl}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.anmeldeUrl}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.kursAdresse}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.kursort}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.startDatum -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.endDatum -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.anmeldeschlussDatum -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.anzTeilnehmer}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.maxTeilnehmer}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.status}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.externalId}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.stammdatensatzId}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.anzeigeBisEnddatum}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.unterlagenLinks}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.teacherText}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.picture.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.statistik}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.log}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.statsOnlyRecord}</f:link.action></td>
			<td><f:link.action action="show" arguments="{courses : courses}"> {courses.statsReminderSent -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{courses : courses}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{courses : courses}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Courses</f:link.action>
</f:section>