
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
  <f:flashMessages />

  <h1><f:translate key="tx_iscourses2.statistik_datei_download_titel"/></h1>

  <f:form action="downloadStats" class="course_upload" enctype="multipart/form-data">

    <div class="beschreibung block"><f:translate key="tx_iscourses2.statistik_datei_download_text"/></div>

    <f:if condition="{download}">
      <div>
        <p><f:translate key="tx_iscourses2.statistik_download_stat">Gefundene Statistik-Einträge:</f:translate> {statistik_count}</p>
      </div>
      <div>
        <f:if condition="{download_link}">
          <p><f:translate key="tx_iscourses2.statistik_download_text">Ihre Datei steht unter folgendem Link nun zur Verfügung.</f:translate></p>
          <a href="{download_link}">Excel-File</a>
        </f:if>
      </div>
    </f:if>

    <f:form.button name="download" value="1">Download</f:form.button>

  </f:form>

</f:section>