
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages />

  <div class='titel'>
    <f:format.html parseFuncTSPath="">
      <h1>
        <f:if condition="{course.titel}">
          <f:then>{course.titel}</f:then>
          <f:else><f:translate key="tx_iscourses2.neuerkurs_keintitel">Neuer Kurs (kein Titel)</f:translate></f:else>
        </f:if> <f:translate key="tx_iscourses2.bearbeiten">bearbeiten</f:translate>
      </h1>
    </f:format.html>
  </div>

  <f:form action="update" class="profile_edit" enctype="multipart/form-data" arguments="{course_uid: course.uid}">
    <div class="kursfelder block">
      <label for="titel"><f:translate key="tx_iscourses2.kurstitel">Kurstitel</f:translate></label>
      <input type="text" name="tx_iscourses2_courses[course][titel]" value="{course.titel}">

      <label for="beschreibung"><f:translate key="tx_iscourses2.beschreibung">Beschreibung</f:translate></label>
      <textarea name="tx_iscourses2_courses[course][beschreibung]">{course.beschreibung -> f:format.html(parseFuncTSPath: '')}</textarea>

      <label for="kurstage"><f:translate key="tx_iscourses2.kurstage">Kurstage</f:translate></label>
      <textarea name="tx_iscourses2_courses[course][kurstage]">{course.kurstage -> f:format.html(parseFuncTSPath: '')}</textarea>

      <label for="kosten"><f:translate key="tx_iscourses2.kurskosten">Kosten</f:translate></label>
      <input type="text" name="tx_iscourses2_courses[course][kosten]" value="{course.kosten}">

      <label for="dauer"><f:translate key="tx_iscourses2.kursdauer">Dauer</f:translate></label>
      <input type="text" name="tx_iscourses2_courses[course][dauer]" value="{course.dauer}">

      <label for="detail_url"><f:translate key="tx_iscourses2.detail_url">Detail URL</f:translate></label>
      <input type="text" name="tx_iscourses2_courses[course][detail_url]" value="{course.detail_url}">

      <label for="kursort"><f:translate key="tx_iscourses2.kursort">Kursort</f:translate></label>
      <input type="text" name="tx_iscourses2_courses[course][kursort]" value="{course.kursort}">

      <label for="kurs_adresse"><f:translate key="tx_iscourses2.kursadresse">Kurs Adresse</f:translate></label>
      <textarea name="tx_iscourses2_courses[course][kurs_adresse]">{course.kurs_adresse -> f:format.html(parseFuncTSPath: '')}</textarea>

      <label for="anmeldeschluss_datum"><f:translate key="tx_iscourses2.anmeldeschluss">Anmeldeschluss</f:translate></label>
      <input type="text" name="tx_iscourses2_courses[course][anmeldeschluss_datum]" value="{course.anmeldeschluss_datum ->f:format.date(format: 'd.m.Y H:i')}">

      <label for="start_datum"><f:translate key="tx_iscourses2.startdatum">Startdatum</f:translate></label>
      <input type="text" name="tx_iscourses2_courses[course][start_datum]" value="{course.start_datum ->f:format.date(format: 'd.m.Y H:i')}">

      <label for="end_datum"><f:translate key="tx_iscourses2.enddatum">Enddatum</f:translate></label>
      <input type="text" name="tx_iscourses2_courses[course][end_datum]" value="{course.end_datum ->f:format.date(format: 'd.m.Y H:i')}">
    </div>

    <div class="kategorisierung block">
      <f:for each="{categs}" as="f">
        <div class="categelement select">
          <label for='categ_{f.uid}'>{f.title}</label>
          <select class='control' name='tx_iscourses2_courses[categories][{f.uid}][]' id='categ_{f.uid}' multiple="multiple">
            <f:for each="{f.elements}" as="e">
              <option value='{e.uid}' {f:if(condition: '{e.selected}', then: 'selected="selected"')}>{e.title}</option>
            </f:for>
          </select>
        </div>
      </f:for>
    </div>

    <div class="teacher block">
      <div class="teacherelement select">
        <label for='teachers'><f:translate key="tx_iscourses2_domain_model_courses.teacher">Kursleiter</f:translate></label>
        <select class='control' name='tx_iscourses2_courses[teachers][]' multiple="multiple">
          <f:for each="{teachers}" as="t">
            <option value='{t.uid}' {f:if(condition: '{t.selected}', then: 'selected="selected"')}>{t.name}</option>
          </f:for>
        </select>
      </div>
    </div>

    <f:form.submit value="<f:translate key='tx_iscourses2.speichern'>Speichern</f:translate>" />

    <f:form.button name="course[deleted]" value="1"><f:translate key="tx_iscourses2.kurs_loeschen">Kurs löschen</f:translate></f:form.button>

    <!--f:link.action action="update" arguments="{course_uid: course.uid, 'course[deleted]': 1}">Kurs löschen</f:link.action-->
  </f:form>

</f:section>