
<f:layout name="Default" />

<f:section name="main">

  <f:flashMessages />

  <!-- Filter Select Boxen ab Kategorien Tree -->
  <f:if condition="{settings.showFilters}">
    <f:for each="{filter}" as="f">
      <div class="filterelement select" id='filterwrap_{f.uid}'>
        <label for='filter_{f.uid}'>{f.title}</label>
        <select class='control' name='is_courses2_list[filter_{f.uid}]' id='filter_{f.uid}' onchange='doCategoryFilter($(this).val())'>
          <option value=''></option>
          <f:for each="{f.elements}" as="e">
            <option value='{e.uid}'>{e.title}</option>
          </f:for>
        </select>
      </div>
    </f:for>
  </f:if>

  <!-- Text Filter Box statisch -->
  <f:if condition="{settings.showTextsearch}">
    <div class="filterelement textsearch">
      <label for='textfilter'><f:translate key="tx_iscourses2.textsuche">Textsuche</f:translate></label>
      <input class='control' name='textfilter' id='textfilter' />
    </div>
  </f:if>

  <!-- Kursliste -->
  <table class="tx_iscourses2 kursliste" >
    <tr>
      <th class="titel"><f:translate key="tx_iscourses2.kurstitel">Kurstitel</f:translate></th>
      <th class="beginn"><f:translate key="tx_iscourses2.kursbeginn">Kursbeginn</f:translate></th>
      <th class="kosten"><f:translate key="tx_iscourses2.kosten">Kosten</f:translate></th>
      <th class="anzpl"><f:translate key="tx_iscourses2.anzahl_plaetze">Anzahl Plätze</f:translate></th>
      <th class="anmelden"><f:translate key="tx_iscourses2.anmelden">Anmelden</f:translate></th>
    </tr>

    <f:for each="{courses}" as="course">
      <f:cycle values="{0: 'even', 1: 'odd'}" as="zebraClass">
        <f:render partial="Courses/ListItem" arguments="{course:course}" />
      </f:cycle>
    </f:for>

    <f:if condition="{no_results}==1">
      <tr>
        <td class='no_results' colspan='5'><f:translate key="tx_iscourses2.keine_resultate">Keine Resultate</f:translate></td>
      </tr>
    </f:if>
  </table>

</f:section>