
<f:layout name="Default" />

<f:section name="main">

    <f:flashMessages />


    <!-- Kursliste -->
    <table class="statistikliste" >
        <thead>
            <tr>
                <th><f:translate key="tx_iscourses2_domain_model_courses.titel"/></th>
                <th><f:translate key="tx_iscourses2.lehrpersonen"/></th>
                <th><f:translate key="tx_iscourses2_domain_model_courses.start_datum"/></th>
                <th><f:translate key="tx_iscourses2.letzteAktion"/></th>
                <th><f:translate key="tx_iscourses2.status"/></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <f:for each="{courses}" as="course">
            <tr class="datarow" data-uid="{course.uid}" data-statsFormPid="{course.statsFormPid}">
                <td class="titel"><f:link.action pageUid="108" action="show" controller="Courses" arguments="{course_uid: course.uid}"
                                                 additionalParams="{course.params}" noCacheHash="0" target="_blank">{course.titel}</f:link.action></td>
                <td class="referent">
                    <f:if condition="{course.teachers ->f:count()} > 0">
                        <f:then>
                            <f:for each="{course.teachers}" as="teacher" iteration="iterator">
                                <f:if condition="{iterator.isFirst}">
                                    {teacher.name}
                                </f:if>
                            </f:for>
                        </f:then>
                        <f:else>
                            {course.teacher_text}
                        </f:else>
                    </f:if>
                </td>
                <td class="beginn"><span style="display:none">{course.start_datum}</span><f:format.date format="d.m.Y">{course.start_datum}</f:format.date></td>
                <td class="letzte_aktion">{course.log}</td>
                <td class="status">
                    <f:if condition="{course.statistik}">
                        <f:then><span style="display: none">0</span><i class="fa fa-check-circle" title="{f:translate(key: 'tx_iscourses2.statistik_eingetragen')}" style="color: green"></i></f:then>
                        <f:else>
                            <f:if condition="{course.statsOverdue}">
                                <f:then>
                                    <span style="display: none">1</span><i class="fa fa-exclamation-circle" title="{f:translate(key: 'tx_iscourses2.statistik_ueberfaellig')}" style="color: red"></i>
                                </f:then>
                                <f:else>

                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </td>
                <td>
                    <f:if condition="{course.statsOverdue}">
                        <f:link.action action="stats" pageUid="{course.statsFormPid}" controller="Courses"
                                       arguments="{course_uid: course.uid, hmac: course.statsFormHmac}"
                                       additionalParams="{course.statsParams}" target="_blank"><i class="fa fa-pencil-square-o" title="{f:translate(key: 'tx_iscourses2.statistik_eintragen')}"></i></f:link.action>
                    </f:if>
                </td>
                <td>
                    <f:if condition="{course.showemail}">
                        <i class="fa fa-envelope-o" style="cursor:pointer" title="{f:translate(key: 'tx_iscourses2.statistik_reminder_versenden')}" onclick="mailReminder(this);"></i>
                    </f:if>
                </td>
            </tr>
        </f:for>
        </tbody>
    </table>

    <f:link.action pageUid="238" action="edit" controller="Courses" noCacheHash="0" class="submit-button">{f:translate(key: 'tx_iscourses2.neue_zeile')}</f:link.action>

    <script type="text/javascript">
        window.statmail_lang = [];
        window.statmail_lang["confirm"] = "<f:translate key='tx_iscourses2.statmail.confirm'/>";
        window.statmail_lang["name"] = "<f:translate key='tx_iscourses2.statmail.name'/>";
        window.statmail_lang["reminder_success_pre"] = "<f:translate key='tx_iscourses2.statmail.reminder_success_pre'/>";
        window.statmail_lang["reminder_success_after"] = "<f:translate key='tx_iscourses2.statmail.reminder_success_after'/>";
        window.statmail_lang["reminder_keinreferent_pre"] = "<f:translate key='tx_iscourses2.statmail.reminder_keinreferent_pre'/>";
        window.statmail_lang["reminder_keinreferent_after"] = "<f:translate key='tx_iscourses2.statmail.reminder_keinreferent_after'/>";
        window.statmail_lang["reminder_referentungueltig_pre"] = "<f:translate key='tx_iscourses2.statmail.reminder_referentungueltig_pre'/>";
        window.statmail_lang["reminder_referentungueltig_after"] = "<f:translate key='tx_iscourses2.statmail.reminder_referentungueltig_after'/>";
        window.statmail_lang["reminder_mailerror_pre"] = "<f:translate key='tx_iscourses2.statmail.reminder_mailerror_pre'/>";
        window.statmail_lang["reminder_mailerror_after"] = "<f:translate key='tx_iscourses2.statmail.reminder_mailerror_after'/>";

        $(document).ready(function(){
            $('.statistikliste').DataTable({

                "language": {
                    "sEmptyTable":   	"<f:translate key='tx_iscourses2.keine_daten'/>",
                    "sInfo":         	"<f:translate key='tx_iscourses2.start_end_total'/>",
                    "sInfoEmpty":    	"<f:translate key='tx_iscourses2.info_keine_eintraege'/>",
                    "sInfoFiltered": 	"<f:translate key='tx_iscourses2.gefiltert_von_max'/>",
                    "sInfoPostFix":  	"",
                    "sInfoThousands":  	".",
                    "sLengthMenu":   	"<f:translate key='tx_iscourses2.eintraege_anzeigen'/>",
                    "sSearch":       	"<f:translate key='tx_iscourses2.suchen'/>",
                    "sZeroRecords":  	"<f:translate key='tx_iscourses2.keine_eintraege_vorhanden'/>.",
                    "oPaginate": {
                        "sFirst":    	"<f:translate key='tx_iscourses2.erste'/>",
                        "sPrevious": 	"<f:translate key='tx_iscourses2.zurueck'/>",
                        "sNext":     	"<f:translate key='tx_iscourses2.naechste'/>",
                        "sLast":     	"<f:translate key='tx_iscourses2.letzte'/>"
                    },
                },
                "aoColumns": [
                    {},
                    {},
                    {},
                    {"bSortable": false},
                    {},
                    {"bSortable": false},
                    {"bSortable": false},
                ]
            });
        });
    </script>

</f:section>