
<f:layout name="Default" />

<f:section name="main">
<h2>{course.titel}</h2>

<f:flashMessages />

<div class='beschreibung'>{course.beschreibung -> f:format.html()}</div>

<table class="tx_iscourses2 anmeldung" >
  <tr class="kurstage">
    <td><f:translate key="tx_iscourses2.durchfuehrungen">Durchführungen</f:translate></td>
    <td>{course.kurstage -> f:format.html()}</td>
  </tr>
  <tr class="kosten">
    <td><f:translate key="tx_iscourses2.kosten">Kosten</f:translate></td>
    <td>{course.kosten -> f:format.html()}</td>
  </tr>
  <f:if condition="{course.anmeldeschluss_datum}">
    <tr class="anmeldeschluss">
      <td><f:translate key="tx_iscourses2.anmeldeschluss">Anmeldeschluss</f:translate></td>
      <td>{course.anmeldeschluss_datum ->f:format.date(format: 'd.m.Y')}</td>
    </tr>
  </f:if>
  <f:if condition="{course.unterlagen_links}">
    <tr class="unterlagen_links">
      <td><f:translate key="tx_iscourses2.unterlagen">Unterlagen</f:translate></td>
      <td>
        <f:for each="{course.unterlagen_links}" as="u">
          <a href="{u.link}" target='_blank'><f:format.html parseFuncTSPath="">{u.titel}</f:format.html></a><br />
        </f:for>
      </td>
    </tr>
  </f:if>
  <tr>
    <td><f:translate key="tx_iscourses2.navigation">Navigation</f:translate></td>
    <td>
      <f:if condition="{course.detail_url}">
        <f:format.html parseFuncTSPath="lib.parseFunc"><link {course.detail_url}><f:translate key="tx_iscourses2.zur_kursausschreibung">Zur Kursausschreibung</f:translate></link></f:format.html> |
      </f:if>
      <span id='referrer_back'><a href=""><f:translate key="tx_iscourses2.zurueck_zur_liste">Zurück zur Liste</f:translate></a></span>
      <script>$('#referrer_back').find('a').attr('href',document.referrer);</script>
    </td>
  </tr>
  <tr>
    <td><f:translate key="tx_iscourses2.social_share">Auf sozialen Medien teilen</f:translate></td>
    <td class="socialbuttons">

        <label class="socialmedia_label"><f:translate key="tx_iscourses2.social_share"/></label>
        <div class="sh_buttons">
          <a class="sh_button facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={f:uri.page(addQueryString:1,absolute:1)}">
            <div class="icon"><img src="/fileadmin/template/img/social_icons/facebook_share_button.png" alt="facebook"/></div>
          </a>
          <a class="sh_button twitter" target="_blank" href="https://twitter.com/home?status={course.titel}, {f:uri.page(addQueryString:1,absolute:1)}">
            <div class="icon"><img src="/fileadmin/template/img/social_icons/twitter_share_button.png" alt="twitter"/></div>
          </a>
          <a class="sh_button xing" target="_blank" href="https://www.xing.com/spi/shares/new?url={f:uri.page(addQueryString:1,absolute:1)}">
            <div class="icon"><img src="/fileadmin/template/img/social_icons/xing_share_button.png" alt="xing"/></div>
          </a>
          <a class="sh_button linkedin" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={f:uri.page(addQueryString:1,absolute:1)}&title={course.titel}&summary={course.beschreibung -> f:format.crop(maxCharacters: 60)}&source=elternbildung.ch">
            <div class="icon"><img src="/fileadmin/template/img/social_icons/linkedin_share_button.png" alt="linkedin"/></div>
          </a>
          <a class="sh_button google" target="_blank" href="http://plus.google.com/share?url={f:uri.page(addQueryString:1,absolute:1)}">
            <div class="icon"><img src="/fileadmin/template/img/social_icons/google-plus_share_button.png" alt="google-plus"/></div>
          </a>
        </div>

    </td>
  </tr>
</table>

<div class="kategorisierung block">
  <f:for each="{categs}" as="f">
    <div class="categelement select">
      <h2 for='categ_{f.uid}'>{f.title}</h2>
      <f:for each="{f.elements}" as="e">
        <div class="tag">{e.title}</div>
      </f:for>
    </div>
  </f:for>
</div>

  <script>
    var params = <f:format.raw>{powermailParameterMapping}</f:format.raw>;
    $(function() {

      $.each(params, function(key, val){
        $('.powermail_form').find('#' + key).val(val);
      });

    });
  </script>


</f:section>