{namespace insor=INSOR\IsCourses2\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
  <h2><f:translate key="tx_iscourses2.statistikFuer"/> {course.titel}</h2>

  <f:flashMessages />


  <div class="tx_iscourses2 anmeldung">

    <table>

      <f:if condition="{course.kurstage}">
        <tr class="kurstage">
          <td><f:translate key="tx_iscourses2.kurstage"/>: </td>
          <td>{course.kurstage -> f:format.html()}</td>
        </tr>
      </f:if>

      <f:if condition="{course.kontaktperson}">
        <tr class="kontaktperson">
          <td><f:translate key="tx_iscourses2.kontaktperson"/>: </td>
          <td>{course.kontaktperson}</td>
        </tr>
      </f:if>

      <f:if condition="{course.teacher_text}">
        <f:then>
          <td><f:translate key="tx_iscourses2.lehrpersonen"/>: </td>
          <td>{course.teacher_text}</td>
        </f:then>
        <f:else>
          <f:if condition="{teachers ->f:count()} > 0">
            <tr class="kursfelder-fieldwrap">
              <td><f:translate key="tx_iscourses2.lehrpersonen"/>: </td>
              <td>
                <f:for each="{teachers}" as="teacher">
                  <f:link.action pageUid="58" class="go-to-profile" action="show" controller="Teachers" arguments="{feuser_uid: teacher.uid}" noCacheHash="0">{teacher.name}</f:link.action><br />
                </f:for>
              </td>
            </tr>
          </f:if>
        </f:else>
      </f:if>

      <f:if condition="{course.kursort}">
        <tr class="kursfelder-fieldwrap">
          <td><f:translate key="tx_iscourses2.kursort"/>: </td>
          <td>{course.kursort -> f:format.html()}</td>
        </tr>
      </f:if>

      <f:if condition="{course.kurs_adresse}">
        <tr class="kursfelder-fieldwrap">
          <td><f:translate key="tx_iscourses2.kursadresse"/>: </td>
          <td>{course.kurs_adresse -> f:format.html()}</td>
        </tr>
      </f:if>

      <f:if condition="{course.start_datum}">
        <tr class="anmeldeschluss">
          <td><f:translate key="tx_iscourses2.startdatum"/>: </td>
          <td>{course.start_datum ->insor:date(format: 'd.m.Y', zeroInt: '1')}</td>
        </tr>
      </f:if>

      <f:if condition="{course.end_datum}">
        <tr class="anmeldeschluss">
          <td><f:translate key="tx_iscourses2.enddatum"/>: </td>
          <td>{course.end_datum ->insor:date(format: 'd.m.Y', zeroInt: '1')}</td>
        </tr>
      </f:if>

      <f:if condition="{course.max_teilnehmer}">
        <tr class="anzpl">
          <td><f:translate key="tx_iscourses2.max_teilnehmer"/>: </td>
          <td>{course.max_teilnehmer}</td>
        </tr>
      </f:if>

    </table>

  </div>

</f:section>



