
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages />

  <h1><f:translate key="tx_iscourses2.kurs_datei_upload_titel2">Schritt 2: Kurse-Datei Preflight-Check</f:translate></h1>

  <f:form action="upload" class="course_upload" enctype="multipart/form-data">
    <div class="beschreibung block">
      <p>
        <f:translate key="tx_iscourses2.kurs_upload_preflight_check.beschreibung1">
          Bitte konfigurieren Sie anhand der nachfolgenden Liste wie und ob Sie die Kurse importieren möchten. Kurse von anderen Benutzern können nicht überschrieben werden.
        </f:translate>
        <f:translate key="tx_iscourses2.kurs_upload_preflight_check.beschreibung2">
          Duplikate werden mit gelb (mittlere Wahrscheinlichkeit) und rot (hohe Wahrscheinlichkeit) markiert.
        </f:translate>
      </p>
      <p>
        <f:translate key="tx_iscourses2.kurs_upload_preflight_check.beschreibung3">
          Folgende Felder werden in der Duplikatprüfung berücksichtigt: Titel, Start-Datum, Kurstage, Kursort, Anmelde-URL, Kosten, Benutzer, Kontaktperson, Referent-Text.
        </f:translate>
      </p>
      <p>
        <f:translate key="tx_iscourses2.kurs_upload_preflight_check.beschreibung4">
          Mögliche Aktionen können über die Selektbox beim jeweiligen Eintrag ausgewählt werden:
        </f:translate>
      </p>

      <table class="normaltable" style="width: auto; height: auto; overflow: auto;">
        <tr>
          <th>Aktion</th>
          <th>Erklärung</th>
        </tr>
        <tr>
          <td>
            <f:translate key="tx_iscourses2.kurs_datei_upload_neuer_kurs">Als neuen Kurs erstellen</f:translate>
          </td>
          <td>
            <f:translate key="tx_iscourses2.kurs_upload_preflight_check.beschreibung_new">
              Erstellt einen neuen Kurs mit den gelieferten Daten, unabhängig von der Duplikatwahrscheinlichkeit.
            </f:translate>
          </td>
        </tr>
        <tr>
          <td>
            ID * <f:translate key="tx_iscourses2.kurs_datei_upload_overwrite">mit diesen Daten überschreiben</f:translate>
          </td>
          <td>
            <f:translate key="tx_iscourses2.kurs_upload_preflight_check.beschreibung_overwrite">
              Überschreibt den ausgewählten Kurs mit den gelieferten Daten. Wird nicht angezeigt, wenn der Kurs einem anderen Benutzer zugeteilt ist.
            </f:translate>
          </td>
        </tr>
        <tr>
          <td>
            <f:translate key="tx_iscourses2.kurs_datei_upload_ignore">Kurs ignorieren</f:translate>
          </td>
          <td>
            <f:translate key="tx_iscourses2.kurs_upload_preflight_check.beschreibung_ignore">
              Der ausgewählte Eintrag wird ignoriert.
            </f:translate>
          </td>
        </tr>
      </table>
    </div>

    <table class="upload_table">
      <f:for each="{preflight_values}" as="course">
        <tr class="{course.similars.status}">
          <td><f:format.html parseFuncTSPath="">{course.0}</f:format.html></td>
          <td class="multicol" colspan="{preflight_values_fieldcount}">
            <table class="innertable">
              <tr class="datarow">
                <f:for each="{preflight_values.0}" as="value" key="label">
                  <f:if condition="{label} == '0'">
                    <f:then><th>similars</th></f:then>
                    <f:else>
                      <f:if condition="{label} == 'similars'">
                        <f:then>
                        </f:then>
                        <f:else>
                          <f:if condition="{label} == 'teacher'">
                            <f:then>
                              <th>teachers</th>
                            </f:then>
                            <f:else>
                              <th>{label}</th>
                            </f:else>
                          </f:if>
                        </f:else>
                      </f:if>
                    </f:else>
                  </f:if>
                </f:for>
              </tr>
              <tr class="datarow">
                <f:render partial="Courses/UploadListItem" arguments="{course:course}" />
              </tr>
              <f:for each="{course.similars.items}" as="similar_item">
                <tr class="datarow">
                  <f:render partial="Courses/UploadSimilarItem" arguments="{similar_item:similar_item}"/>
                </tr>
              </f:for>
            </table>
          </td>
        </tr>
      </f:for>
    </table>

    <f:form.hidden name="filename" value="{filename}"/>
    <div class="buttons">
      <f:form.button name="abort" style="float:left;" value="1">
        <f:translate key="tx_iscourses2.kurs_upload_abort">Zurück zu Schritt 1</f:translate>
      </f:form.button>
      <f:form.button name="preflight" value="2">
        <f:translate key="tx_iscourses2.kurs_upload_import">Upload abschliessen</f:translate>
      </f:form.button>
    </div>
  </f:form>

</f:section>