
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
  <f:flashMessages />

  <h1><f:translate key="tx_iscourses2.kurs_datei_upload_titel3">Schritt 3: Upload abgeschlossen</f:translate></h1>

  <f:form action="upload" class="course_upload" enctype="multipart/form-data">
    <div class="beschreibung block">
      <f:translate key="tx_iscourses2.kurs_datei_upload_finished">Der Kursupload wurde abgeschlossen. Sie können Ihre neuen und aktualisierten Kurse nun unter "Meine Kurse" sehen.</f:translate>
    </div>
  </f:form>

</f:section>