
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages />

  <f:comment><h1><f:translate key="tx_iscourses2.kurs_datei_upload_titel"/></h1></f:comment>
  <h1><f:translate key="tx_iscourses2.kurs_datei_upload_titel">Schritt 1: Kurse-Datei uploaden</f:translate></h1>

  <f:form action="upload" class="course_upload" enctype="multipart/form-data">
    <div class="beschreibung block"><f:translate key="tx_iscourses2.kurs_datei_upload_text"/>
      <a href="/uploads/tx_iscourses2/Vorlage.xlsx"><f:translate key="tx_iscourses2.kurs_datei_upload_importvorlage"/></a>
    </div>

    <f:form.upload name="importfile" /><br />

    <f:form.button name="preflight" value="1">
      <f:translate key="tx_iscourses2.kurs_upload_preflight_check">Schritt 2: Upload + Preflight Check</f:translate>
    </f:form.button>

  </f:form>

</f:section>