
<f:layout name="Default" />
                test 123
This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages />

<h2>{teacher.name}</h2>

<f:form action="update" class="profile_edit" enctype="multipart/form-data">
  
  <div class="personalien block">
    <label for="name"><f:translate key="tx_iscourses2.vorname_name">Vorname, Name</f:translate></label>
    <input type="text" name="tx_iscourses2_courses[fe_users][name]" value="{teacher.name}">

    <label for="address"><f:translate key="tx_iscourses2.adresse">Adresse</f:translate></label>
    <textarea name="tx_iscourses2_courses[fe_users][address]">{teacher.address}</textarea>

    <label for="zip"><f:translate key="tx_iscourses2.plz">PLZ</f:translate></label>
    <input type="text" name="tx_iscourses2_courses[fe_users][zip]" value="{teacher.zip}">

    <label for="city"><f:translate key="tx_iscourses2.ort">Ort</f:translate></label>
    <input type="text" name="tx_iscourses2_courses[fe_users][city]" value="{teacher.city}">

    <label for="telephone"><f:translate key="tx_iscourses2.telefon">Telefon</f:translate></label>
    <input type="text" name="tx_iscourses2_courses[fe_users][telephone]" value="{teacher.telephone}">

    <label for="email"><f:translate key="tx_iscourses2.email">E-Mail</f:translate></label>
    <input type="text" name="tx_iscourses2_courses[fe_users][email]" value="{teacher.email}">

    <label for="www"><f:translate key="tx_iscourses2.webseite">Webseite</f:translate></label>
    <input type="text" name="tx_iscourses2_courses[fe_users][www]" value="{teacher.www}">
  </div>
  
  <div class="thematisches block">
    <label for="werdegang"><f:translate key="tx_iscourses2.werdegang">Werdegang</f:translate></label>
    <textarea name="tx_iscourses2_courses[fe_users][werdegang]">{teacher.werdegang}</textarea>

    <label for="themen"><f:translate key="tx_iscourses2.themen">Themen</f:translate></label>
    <textarea name="tx_iscourses2_courses[fe_users][themen]">{teacher.themen}</textarea>
  </div>
  
  <div class="kategorisierung block">
    <f:for each="{categs}" as="f">
      <div class="categelement select">
        <label for='categ_{f.uid}'>{f.title}</label>
        <select class='control' name='tx_iscourses2_courses[categories][{f.uid}][]' id='categ_{f.uid}' multiple="multiple">
          <f:for each="{f.elements}" as="e">
            <option value='{e.uid}' {f:if(condition: '{e.selected}', then: 'selected="selected"')}>{e.title}</option>
          </f:for>
        </select>
      </div>
    </f:for>
  </div>
  
  <div class="weiteres block">
    <f:if condition="{ist_mitglied}">
      {teacher.name} <f:translate key="tx_iscourses2.ist_mitglied">ist Mitglied</f:translate>.
    </f:if>
    
    <label for="bemerkungen"><f:translate key="tx_iscourses2.bemerkungen">Bemerkungen</f:translate></label>
    <textarea name="tx_iscourses2_courses[fe_users][bemerkungen]">{teacher.bemerkungen}</textarea>

    <label for="foto"><f:translate key="tx_iscourses2.foto">Foto</f:translate></label>
    <f:form.upload name="foto" />
  </div>

  <div class="profilepic block">
    <f:if condition="{profilepic}">
      <f:image src="{profilepic}" width="200c" height="200c" />
    </f:if>
  </div>

  <f:form.submit value="<f:translate key='tx_iscourses2.speichern'>Speichern</f:translate>" />

</f:form>

</f:section>