
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

	<f:flashMessages />

	<!-- Filter Select Boxen ab Kategorien Tree -->
	<f:for each="{filter}" as="f">
		<div class="filterelement select" id='filterwrap_{f.uid}'>
			<label for='filter_{f.uid}'>{f.title}</label>
			<select class='control' name='is_courses2_list[filter_{f.uid}]' id='filter_{f.uid}' onchange='doCategoryFilter($(this).val())'>
				<option value=''></option>
				<f:for each="{f.elements}" as="e">
					<option value='{e.uid}'>{e.title}</option>
				</f:for>
			</select>
		</div>
	</f:for>

	<!-- Text Filter Box statisch -->
	<div class="filterelement textsearch">
		<label for='textfilter'><f:translate key="tx_iscourses2.textsuche">Textsuche</f:translate></label>
		<input class='control' name='textfilter' id='textfilter' />
	</div>

	<!-- Kursliste -->
	<table class="tx_iscourses2 kursleiterliste">
		<tr>
			<th class="thumbnail"> </th>
			<th class="dozent"><f:translate key="tx_iscourses2.dozent">Dozent</f:translate></th>
			<th class="werdegang"><f:translate key="tx_iscourses2.werdegang">Werdegang</f:translate></th>
			<th class="themen"><f:translate key="tx_iscourses2.themen">Themen</f:translate></th>
			<th class="abschluesse"><f:translate key="tx_iscourses2.abschluesse">Abschlüsse</f:translate></th>
			<th class="kontakt"><f:translate key="tx_iscourses2.kontakt">Kontakt</f:translate></th>
		</tr>
		<f:for each="{teachers}" as="teacher">
			<f:cycle values="{0: 'even', 1: 'odd'}" as="zebraClass">
				<tr class="{zebraClass} datarow" data-categories="{teacher.categstring}">
					<td class="thumbnail"><f:image src="{teacher.profilepic}" width="100c" height="100c" /></td>
					<td class="dozent">{teacher.name}</td>
					<td class="werdegang">{teacher.werdegang}</td>
					<td class="themen">{teacher.themen}</td>
					<td class="attribute">
						<f:for each="{teacher.categs}" as="f">
							<div class="categelement">
								<label for='categ_{f.uid}'>{f.title}</label>
								<f:for each="{f.elements}" as="e">
									<div class="tag">{e.title}</div>
								</f:for>
							</div>
						</f:for>
					</td>
					<td class="kontakt">
						<f:link.action action="show" arguments="{feuser_uid: teacher.uid}">Profil</f:link.action>
						<f:link.email email="{teacher.email}" class="email">{teacher.email}</f:link.email>
						<a href="tel://{teacher.telephone}">{teacher.telephone}</a>
					</td>
				</tr>
			</f:cycle>
		</f:for>

	</table>


</f:section>