<f:layout name="Default" xmlns:f="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"/>
test 123
This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
  <f:flashMessages />

  <h2>{teacher.name}</h2>

  <div class="personalien block">
    <label for="name"><f:translate key="tx_iscourses2.vorname_name">Vorname, Name</f:translate></label>
    <span>{teacher.name}</span>

    <label for="address"><f:translate key="tx_iscourses2.adresse">Adresse</f:translate></label>
    <span>{teacher.address}</span>

    <label for="zip"><f:translate key="tx_iscourses2.plz">PLZ</f:translate></label>
    <span>{teacher.zip}</span>

    <label for="city"><f:translate key="tx_iscourses2.ort">Ort</f:translate></label>
    <span>{teacher.city}</span>

    <label for="telephone"><f:translate key="tx_iscourses2.telefon">Telefon</f:translate></label>
    <span>{teacher.telephone}</span>

    <label for="email"><f:translate key="tx_iscourses2.email">E-Mail</f:translate></label>
    <span>{teacher.email}</span>

    <label for="www"><f:translate key="tx_iscourses2.webseite">Webseite</f:translate></label>
    <span>{teacher.www}</span>
  </div>

  <div class="thematisches block">
    <label for="werdegang"><f:translate key="tx_iscourses2.werdegang">Werdegang</f:translate></label>
    <span>{teacher.werdegang}</span>

    <label for="themen"><f:translate key="tx_iscourses2.themen">Themen</f:translate></label>
    <span>{teacher.themen}</span>
  </div>

  <div class="kategorisierung block">
    <f:for each="{categs}" as="f">
      <div class="categelement select">
        <label for='categ_{f.uid}'>{f.title}</label>
          <f:for each="{f.elements}" as="e">
            <f:if condition="{e.selected}">
              <div class="tag">{e.title}</div>
            </f:if>
          </f:for>
      </div>
    </f:for>
  </div>

  <div class="weiteres block">
    <f:if condition="{ist_mitglied}">
      {teacher.name} <f:translate key="tx_iscourses2.ist_mitglied">ist Mitglied</f:translate>.
    </f:if>

    <label for="bemerkungen"><f:translate key="tx_iscourses2.bemerkungen">Bemerkungen</f:translate></label>
    <span>{teacher.bemerkungen}</span>
  </div>

  <div class="profilepic block">
    <f:if condition="{profilepic}">
      <f:image src="{profilepic}" width="200c" height="200c" />
    </f:if>
  </div>

</f:section>