
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Teachers</h1>

<f:flashMessages />

<table  class="tx_iscourses2" >
	<tr>
		<th><f:translate key="tx_iscourses2_domain_model_teachers.external_id" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_teachers.themen" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_teachers.werdegang" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_teachers.ist_mitglied" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_teachers.online_profil_aktiv" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_teachers.bemerkungen" /></th>
		<th><f:translate key="tx_iscourses2_domain_model_teachers.keine_benachrichtigungen" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{teacherss}" as="teachers">
		<tr>
			<td><f:link.action action="show" arguments="{teachers : teachers}"> {teachers.externalId}</f:link.action></td>
			<td><f:link.action action="show" arguments="{teachers : teachers}"> {teachers.themen}</f:link.action></td>
			<td><f:link.action action="show" arguments="{teachers : teachers}"> {teachers.werdegang}</f:link.action></td>
			<td><f:link.action action="show" arguments="{teachers : teachers}"> {teachers.istMitglied}</f:link.action></td>
			<td><f:link.action action="show" arguments="{teachers : teachers}"> {teachers.onlineProfilAktiv}</f:link.action></td>
			<td><f:link.action action="show" arguments="{teachers : teachers}"> {teachers.bemerkungen}</f:link.action></td>
			<td><f:link.action action="show" arguments="{teachers : teachers}"> {teachers.keineBenachrichtigungen}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{teachers : teachers}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{teachers : teachers}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Teachers</f:link.action>
</f:section>