{namespace v=FluidTYPO3\Vhs\ViewHelpers}
* Texte français ci-dessous * <br /><br />

Guten Tag {name} <br/><br/>

Ihr Kurs «{course_titel}» ist beendet. Wir hoffen, dass dieser zu Stande kam.<br/><br/>

Jetzt bleibt für Sie noch eine kleine Aufgabe – Ihre Statistik (<a href="<v:format.url.decode>{formlink.0}</v:format.url.decode>">Link zum Statistik-Formular</a>).<br/><br/>

Ihre Angaben helfen uns, eine gesamtschweizerische Statistik der Elternbildung zu führen.<br/>
Gemeinsam schaffen wir dadurch eine Grundlage für Weiterentwicklung und Wahrnehmung unserer Arbeit als wichtiger Teil der Präventionslandschaft.<br/><br/>

Herzlichen Dank für Ihren wertvollen Beitrag<br/>
Elternbildung CH<br />
statistik@elternbildung.ch<br/>
<a href="https://www.elternbildung.ch/">www.elternbildung.ch</a><br /><br/>

<hr/><br/><br/>

Bonjour {name},<br/><br/>

Votre cours «{course_titel}» est terminé. Nous espérons qu’il a pu se dérouler.<br/><br/>

Il vous reste encore une tâche à effectuer : les statistiques (<a href="<v:format.url.decode>{formlink.2}</v:format.url.decode>">Lien statistique</a>).<br/><br/>

Vos données nous aident à tenir une statistique suisse de la formation des parents.<br/>
Ensemble, nous pouvons établir une base pour le développement et la reconnaissance de notre travail comme étant une part importante du champ de la prévention.<br/><br/>

Nous vous remercions pour votre importante contribution.<br/>
Formation des parents CH <br />
statistique@formation-des-parents.ch<br/>
<a href="https://www.formation-des-parents.ch/fr/ ">www.formation-des-parents.ch</a><br /><br/>

