{namespace v=FluidTYPO3\Vhs\ViewHelpers}
* Texte français ci-dessous * <br /><br />

Guten Tag {name} <br/><br/>

Wir möchten Sie darauf hinweisen, dass die Statistik für den auf der
<a href="https://www.elternbildung.ch/eltern/angebote/kurse-finden/">Elternbildung CH Kurse-Plattform</a> publizierten Kurs "{course_titel}" noch nicht ausgefüllt wurde.<br/>
Wir bitten Sie darum, die Statistik mit nachfolgendem Link noch nachzuführen.<br/><br/>

<f:link.action absolute="TRUE" extensionName="isCourses2" action="stats" pageUid="{statsFormPid}" controller="Courses"
               arguments="{course_uid: course_uid, hmac: statsFormHmac}" target="_blank">Link zum Statistik-Formular</f:link.action><br/><br/>

Mit freundlichen Grüssen<br/>
Elternbildung CH<br />
statistik@elternbildung.ch<br/>
{v:site.url()}<br /><br/>

<hr/><br/><br/>

Bonjour {name} <br/><br/>

Nous nous permettons de vous rappeler que vous n’avez pas encore saisi les données statistiques pour le cours [Kurstitel] que vous avez publié dans
<a href="https://www.formation-des-parents.ch/fr/parents/offres/trouver-des-cours/">le calendrier de cours de Formation des parents CH</a>.<br/><br/>

Nous vous prions de bien vouloir saisir vos données de participation pour ce cours par le lien suivant: <br/>
<f:link.action absolute="TRUE" extensionName="isCourses2" action="stats" pageUid="{statsFormPid}" controller="Courses"
               arguments="{course_uid: course_uid, hmac: statsFormHmac}" target="_blank">Lien statistique</f:link.action><br/><br/>

Avec nos meilleures salutations<br />
Formation des parents CH<br />
statistique@formation-des-parents.ch<br/>
{v:site.url()}<br /><br/>

<hr/><br/><br/>

Italienische Version<br/><br/>
