{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<body style="padding:0; margin:0; padding-top:10px; background-color:#DDE8D1; text-align:center; font-family:Arial,sans-serif; font-size: 12px;" cz-shortcut-listen="true" align="center">
<table style="padding:0; margin:auto; background-color:#ffffff; border-collapse:collapse; width:600px; text-align:left;" width="600px" border="0" bgcolor="#ffffff">
  <tr>
    <td style="padding:0; margin:0; width:600px;" colspan="3" width="600px">
      <!-- Content Start -->

      <table style="padding:0; margin:auto; background-color:#ffffff; border-collapse:collapse; width:100%; text-align:left;" border="0" width="600px" bgcolor="#ffffff">
        <!-- HEAD BEGIN -->
        <tr>
          <td style="padding:0; margin:0; width:600px; height:9px;" width="600px" height="9px" colspan="3"></td>
        </tr>
        <tr>
          <td style="padding:0; margin:0; width:20px;" width="20px"></td>
          <td>* Texte français ci-dessous *</td>
          <td style="padding:0; margin:0; width:20px;" width="20px"></td>
        </tr>
      </table>

      <br/><br/>

      <table style="padding:0; margin:auto; background-color:#ffffff; border-collapse:collapse; width:100%; text-align:left;" border="0" width="600px" bgcolor="#ffffff">
        <!-- HEAD BEGIN -->
        <tr>
          <td style="padding:0; margin:0; width:600px; height:9px;" width="600px" height="9px" colspan="3"></td>
        </tr>

        <tr>
          <td style="padding:0; margin:0; width:600px; height:4px;" width="600px" height="4px" colspan="3"></td>
        </tr>
        <tr>
          <td style="padding:0; margin:0; width:600px;" width="600px" colspan="3">
            <img src="https://www.elternbildung.ch/fileadmin/template/newsletter/newsletter_header.jpg" alt="Headerbild" />
          </td>
        </tr>
        <!-- CONTENT BEGIN -->
        <tr>
          <td style="padding:0; margin:0; width:600px;" width="600px" colspan="3">
            <!-- CONTENT ELEMENT 1 BEGIN -->
            <table style="padding:0; margin:auto; border-collapse:collapse; width:600px; text-align:left;" border="0" width="600px">
              <tr>
                <td style="padding:0; margin:0; width:20px;" width="20px"></td>
                <td colspan="2">
                  <br /><br />
                  <h1 style="font-family: Arial,sans-serif; color: #d02184; font-size: 18px; margin: 0; padding: 0;">Statistikumfrage für Kurs "{course_titel}"</h1>
                  <img src="https://www.elternbildung.ch/fileadmin/template/newsletter/newsletter_separator.png" alt="separator">
                  <br /><br />
                </td>
              </tr>
              <tr>
                <td style="padding:0; margin:0; width:600px; height:21px; line-height:21px; font-size:21px;" height="21px" width="600px" colspan="3">&nbsp;</td>
              </tr>
              <tr>
                <td style="padding:0; margin:0; width:20px;" width="20px"></td>
                <td style="padding:0; margin:0; width:560px;" width="580px">
                  <!-- REAL Content START -->
                  <p>
                    Guten Tag {name} <br/><br/>

                    Ihr Kurs «{course_titel}» ist beendet. Wir hoffen, dass dieser zu Stande kam.<br/><br/>

                    Jetzt bleibt für Sie noch eine kleine Aufgabe – Ihre Statistik.<br/>
                    Wurde dieser Kurs durchgeführt?<br />
                    <span style="width: 100%;overflow: hidden">
                        <a href="<v:format.url.decode>{formlink.0}</v:format.url.decode>&tx_powermail_pi1[field][durchgefuehrt]=Ja" style="text-decoration: none;font-weight: bold;letter-spacing: normal;line-height: 100%;text-decoration: none;color: #000000;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;display: block;padding: 15px;background-color: #9efc32;text-align: center;width: 25%;float: left;margin-right:5px;">Ja</a>
                        <span>   </span>
                        <a href="<v:format.url.decode>{formlink.0}</v:format.url.decode>" style="text-decoration: none;font-weight: bold;letter-spacing: normal;line-height: 100%;text-decoration: none;color: #FFFFFF;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;display: block;padding: 15px;background-color: #ef2c30;text-align: center;width: 25%;float: left;margin-left:5px;">Nein</a>
                      </span><br/><br/><br/><br/>

                    <!--<div style="background-color: #9efc32;" width="20px" height="20px">Ja</div></a>
                    <a href="<v:format.url.decode>{formlink.0}</v:format.url.decode>"><div style="background-color: #ef2c30;" width="20px" height="20px">Nein</div></a><br/>
                    <a href="<v:format.url.decode>{formlink.0}</v:format.url.decode>">Zum Statistik-Formular</a><br/><br/>-->


                    Ihre Angaben helfen uns, eine gesamtschweizerische Statistik der Elternbildung zu führen.<br/>
                    Gemeinsam schaffen wir dadurch eine Grundlage für Weiterentwicklung und Wahrnehmung unserer Arbeit als wichtiger Teil der Präventionslandschaft.<br/><br/>

                    Herzlichen Dank für Ihren wertvollen Beitrag<br/>
                    Elternbildung CH<br />
                    statistik@elternbildung.ch<br/>
                    <a href="https://www.elternbildung.ch/">www.elternbildung.ch</a><br /><br/>
                  </p>
                  <!-- REAL Content END -->
                </td>
                <td style="padding:0; margin:0; width:20px;" width="20px"></td>
              </tr>
              <tr>
                <td style="padding:0; margin:0; width:600px; height:21px; line-height:21px; font-size:21px;" height="21px" width="600px" colspan="3">&nbsp;</td>
              </tr>
            </table>
            <!-- CONTENT ELEMENT 1 END -->
          </td>
        </tr>
        <!-- CONTENT END -->
        <!-- FOOTER BEGIN -->
        <tr>
          <td style="padding:0; margin:0; width:600px;" width="600px" colspan="3">
            <table style="padding:0; margin:auto; border-collapse:collapse; width:600px; text-align:left;" border="0" width="600px">
              <tr>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
                <td style="padding:0; margin:0; width:560px; height:21px; line-height:21px; font-size:21px;" height="21px" width="560px">
                  <img src="https://www.elternbildung.ch/fileadmin/template/newsletter/newsletter_separator.png" alt="separator" />
                </td>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
              </tr>
            </table>

            <table style="padding:0; margin:auto; border-collapse:collapse; width:600px; text-align:left;" border="0" width="600px">
              <tr>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
                <td style="padding:0; margin:0; width:560px;" width="560px"><p class="nl_footer_adress" style="padding:0; margin:0; font-size:12px; color:#999; font-family:Arial,sans-serif; line-height:18px;"><p style="padding:0; margin:0; margin-bottom: 10px; font-size:12px; color:#000000; font-family:Arial,sans-serif; line-height:18px; text-align:left;">Steinwiesstrasse 2, 8032 Zürich, T 044 253 60 60, <a href="https://www.elternbildung.ch/" style="padding:0; margin:0; font-size:12px; color:#000; font-family:Arial,sans-serif; line-height:18px; text-decoration:underline;">www.elternbildung.ch</a>, <a href="mailto:info@elternbildung.ch" style="padding:0; margin:0; font-size:12px; color:#000; font-family:Arial,sans-serif; line-height:18px; text-decoration:underline;">info@elternbildung.ch</a></p></p></td>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
              </tr>

              <tr>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
                <td style="padding:0; margin:0; width:560px"><img src="https://www.elternbildung.ch/fileadmin/template/newsletter/newsletter_separator.png" alt="separator" /></td>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td style="padding:0; margin:0; width:600px; height:6px;" width="600px" height="6px" colspan="3"></td>
        </tr>
        <tr>
          <td style="padding:0; margin:0; width:600px; height:25px;" width="600px" height="25px" colspan="3"></td>
        </tr>
        <!-- FOOTER END -->
      </table>

      <br/><br/>

      <table style="padding:0; margin:auto; background-color:#ffffff; border-collapse:collapse; width:100%; text-align:left;" border="0" width="600px" bgcolor="#ffffff">
        <!-- HEAD BEGIN -->
        <tr>
          <td style="padding:0; margin:0; width:600px; height:9px;" width="600px" height="9px" colspan="3"></td>
        </tr>

        <tr>
          <td style="padding:0; margin:0; width:600px; height:4px;" width="600px" height="4px" colspan="3"></td>
        </tr>
        <tr>
          <td style="padding:0; margin:0; width:600px;" width="600px" colspan="3">
            <img src="https://www.elternbildung.ch/fileadmin/template/newsletter/newsletter_header.jpg" alt="Headerbild" />
          </td>
        </tr>
        <!-- CONTENT BEGIN -->
        <tr>
          <td style="padding:0; margin:0; width:600px;" width="600px" colspan="3">
            <!-- CONTENT ELEMENT 1 BEGIN -->
            <table style="padding:0; margin:auto; border-collapse:collapse; width:600px; text-align:left;" border="0" width="600px">
              <tr>
                <td style="padding:0; margin:0; width:20px;" width="20px"></td>
                <td colspan="2">
                  <br /><br />
                  <h1 style="font-family: Arial,sans-serif; color: #d02184; font-size: 18px; margin: 0; padding: 0;">Statistiques pour le cours "[Kurstitel]"</h1>
                  <img src="https://www.elternbildung.ch/fileadmin/template/newsletter/newsletter_separator.png" alt="separator">
                  <br /><br />
                </td>
              </tr>
              <tr>
                <td style="padding:0; margin:0; width:600px; height:21px; line-height:21px; font-size:21px;" height="21px" width="600px" colspan="3">&nbsp;</td>
              </tr>
              <tr>
                <td style="padding:0; margin:0; width:20px;" width="20px"></td>
                <td style="padding:0; margin:0; width:560px;" width="580px">
                  <!-- REAL Content START -->
                  <p>
                    Bonjour {name},<br/><br/>

                    Votre cours «{course_titel}» est terminé. Nous espérons qu’il a pu se dérouler.<br/><br/>

                    <!--Il vous reste encore une tâche à effectuer : les statistiques (<a href="<v:format.url.decode>{formlink.2}</v:format.url.decode>">Lien statistique</a>).<br/><br/>-->
                    Il vous reste encore une tâche à effectuer : les statistiques.<br/>
                    Ce cours a-t-il eu lieu?
                    <span style="width: 100%;overflow: hidden">
                        <a href="<v:format.url.decode>{formlink.0}</v:format.url.decode>&tx_powermail_pi1[field][durchgefuehrt]=Ja" style="text-decoration: none;font-weight: bold;letter-spacing: normal;line-height: 100%;text-decoration: none;color: #000000;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;display: block;padding: 15px;background-color: #9efc32;text-align: center;width: 25%;float: left;margin-right:5px;">Oui</a>
                        <a href="<v:format.url.decode>{formlink.0}</v:format.url.decode>" style="text-decoration: none;font-weight: bold;letter-spacing: normal;line-height: 100%;text-decoration: none;color: #FFFFFF;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;display: block;padding: 15px;background-color: #ef2c30;text-align: center;width: 25%;float: left;margin-left:5px;">Non</a>
                      </span><br/><br/><br/><br/>

                    Vos données nous aident à tenir une statistique suisse de la formation des parents.<br/>
                    Ensemble, nous pouvons établir une base pour le développement et la reconnaissance de notre travail comme étant une part importante du champ de la prévention.<br/><br/>

                    Nous vous remercions pour votre importante contribution.<br/>
                    Formation des parents CH <br />
                    statistique@formation-des-parents.ch<br/>
                    <a href="https://www.formation-des-parents.ch/fr/ ">www.formation-des-parents.ch</a><br /><br/>
                  </p>
                  <!-- REAL Content END -->
                </td>
                <td style="padding:0; margin:0; width:20px;" width="20px"></td>
              </tr>
              <tr>
                <td style="padding:0; margin:0; width:600px; height:21px; line-height:21px; font-size:21px;" height="21px" width="600px" colspan="3">&nbsp;</td>
              </tr>
            </table>
            <!-- CONTENT ELEMENT 1 END -->
          </td>
        </tr>
        <!-- CONTENT END -->
        <!-- FOOTER BEGIN -->
        <tr>
          <td style="padding:0; margin:0; width:600px;" width="600px" colspan="3">
            <table style="padding:0; margin:auto; border-collapse:collapse; width:600px; text-align:left;" border="0" width="600px">
              <tr>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
                <td style="padding:0; margin:0; width:560px; height:21px; line-height:21px; font-size:21px;" height="21px" width="560px">
                  <img src="https://www.elternbildung.ch/fileadmin/template/newsletter/newsletter_separator.png" alt="separator" />
                </td>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
              </tr>
            </table>

            <table style="padding:0; margin:auto; border-collapse:collapse; width:600px; text-align:left;" border="0" width="600px">
              <tr>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
                <td style="padding:0; margin:0; width:560px;" width="560px"><p class="nl_footer_adress" style="padding:0; margin:0; font-size:12px; color:#999; font-family:Arial,sans-serif; line-height:18px;"><p style="padding:0; margin:0; margin-bottom: 10px; font-size:12px; color:#000000; font-family:Arial,sans-serif; line-height:18px; text-align:left;">Steinwiesstrasse 2, 8032 Zürich, T 044 253 60 60, <a href="https://www.elternbildung.ch/" style="padding:0; margin:0; font-size:12px; color:#000; font-family:Arial,sans-serif; line-height:18px; text-decoration:underline;">www.elternbildung.ch</a>, <a href="mailto:info@elternbildung.ch" style="padding:0; margin:0; font-size:12px; color:#000; font-family:Arial,sans-serif; line-height:18px; text-decoration:underline;">info@elternbildung.ch</a></p></p></td>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
              </tr>

              <tr>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
                <td style="padding:0; margin:0; width:560px"><img src="https://www.elternbildung.ch/fileadmin/template/newsletter/newsletter_separator.png" alt="separator" /></td>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td style="padding:0; margin:0; width:600px; height:6px;" width="600px" height="6px" colspan="3"></td>
        </tr>
        <tr>
          <td style="padding:0; margin:0; width:600px; height:25px;" width="600px" height="25px" colspan="3"></td>
        </tr>
        <!-- FOOTER END -->
      </table>
      <!-- Content Start -->
    </td>
  </tr>
</table>
</body>

<f:comment>
  <div style="background-color:#DDE8D1;width: 100%;">
    <div style="padding:0; margin:auto; width:600px;">
      <br/>

      <table style="padding:0; margin:auto; background-color:#ffffff; border-collapse:collapse; width:100%; text-align:left;" border="0" width="600px" bgcolor="#ffffff">
        <!-- HEAD BEGIN -->
        <tr>
          <td style="padding:0; margin:0; width:600px; height:9px;" width="600px" height="9px" colspan="3"></td>
        </tr>
        <tr>
          <td>* Texte français ci-dessous *</td>
        </tr>
      </table>

      <br/><br/>

      <table style="padding:0; margin:auto; background-color:#ffffff; border-collapse:collapse; width:100%; text-align:left;" border="0" width="600px" bgcolor="#ffffff">
        <!-- HEAD BEGIN -->
        <tr>
          <td style="padding:0; margin:0; width:600px; height:9px;" width="600px" height="9px" colspan="3"></td>
        </tr>

        <tr>
          <td style="padding:0; margin:0; width:600px; height:4px;" width="600px" height="4px" colspan="3"></td>
        </tr>
        <tr>
          <td style="padding:0; margin:0; width:600px;" width="600px" colspan="3">
            <img src="https://www.elternbildung.ch/fileadmin/template/newsletter/newsletter_header.jpg" alt="Headerbild" />
          </td>
        </tr>
        <!-- CONTENT BEGIN -->
        <tr>
          <td style="padding:0; margin:0; width:600px;" width="600px" colspan="3">
            <!-- CONTENT ELEMENT 1 BEGIN -->
            <table style="padding:0; margin:auto; border-collapse:collapse; width:600px; text-align:left;" border="0" width="600px">
              <tr>
                <td style="padding:0; margin:0; width:20px;" width="20px"></td>
                <td colspan="2">
                  <br /><br />
                  <h1 style="font-family: Arial,sans-serif; color: #d02184; font-size: 18px; margin: 0; padding: 0;">Statistikumfrage für Kurs "{course_titel}"</h1>
                  <img src="https://www.elternbildung.ch/fileadmin/template/newsletter/newsletter_separator.png" alt="separator">
                  <br /><br />
                </td>
              </tr>
              <tr>
                <td style="padding:0; margin:0; width:600px; height:21px; line-height:21px; font-size:21px;" height="21px" width="600px" colspan="3">&nbsp;</td>
              </tr>
              <tr>
                <td style="padding:0; margin:0; width:20px;" width="20px"></td>
                <td style="padding:0; margin:0; width:560px;" width="580px">
                  <!-- REAL Content START -->
                  <p>
                    Guten Tag {name} <br/><br/>

                    Ihr Kurs «{course_titel}» ist beendet. Wir hoffen, dass dieser zu Stande kam.<br/><br/>

                    Jetzt bleibt für Sie noch eine kleine Aufgabe – Ihre Statistik.<br/>
                    Wurde dieser Kurs durchgeführt?<br />
                  <div style="width: 100%;overflow: hidden">
                    <a href="<v:format.url.decode>{formlink.0}</v:format.url.decode>&tx_powermail_pi1[field][durchgefuehrt]=Ja" style="text-decoration: none;font-weight: bold;letter-spacing: normal;line-height: 100%;text-decoration: none;color: #000000;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;display: block;padding: 15px;background-color: #9efc32;text-align: center;width: 25%;float: left;">Ja</a>
                    <div style="width: 10px;float: left;">&nbsp;</div>
                    <a href="<v:format.url.decode>{formlink.0}</v:format.url.decode>" style="text-decoration: none;font-weight: bold;letter-spacing: normal;line-height: 100%;text-decoration: none;color: #FFFFFF;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;display: block;padding: 15px;background-color: #ef2c30;text-align: center;width: 25%;float: left;">Nein</a>
                  </div><br/>

                  <!--<div style="background-color: #9efc32;" width="20px" height="20px">Ja</div></a>
                  <a href="<v:format.url.decode>{formlink.0}</v:format.url.decode>"><div style="background-color: #ef2c30;" width="20px" height="20px">Nein</div></a><br/>
                  <a href="<v:format.url.decode>{formlink.0}</v:format.url.decode>">Zum Statistik-Formular</a><br/><br/>-->


                  Ihre Angaben helfen uns, eine gesamtschweizerische Statistik der Elternbildung zu führen.<br/>
                  Gemeinsam schaffen wir dadurch eine Grundlage für Weiterentwicklung und Wahrnehmung unserer Arbeit als wichtiger Teil der Präventionslandschaft.<br/><br/>

                  Herzlichen Dank für Ihren wertvollen Beitrag<br/>
                  Elternbildung CH<br />
                  statistik@elternbildung.ch<br/>
                  <a href="https://www.elternbildung.ch/">www.elternbildung.ch</a><br /><br/>
                  </p>
                  <!-- REAL Content END -->
                </td>
                <td style="padding:0; margin:0; width:20px;" width="20px"></td>
              </tr>
              <tr>
                <td style="padding:0; margin:0; width:600px; height:21px; line-height:21px; font-size:21px;" height="21px" width="600px" colspan="3">&nbsp;</td>
              </tr>
            </table>
            <!-- CONTENT ELEMENT 1 END -->
          </td>
        </tr>
        <!-- CONTENT END -->
        <!-- FOOTER BEGIN -->
        <tr>
          <td style="padding:0; margin:0; width:600px;" width="600px" colspan="3">
            <table style="padding:0; margin:auto; border-collapse:collapse; width:600px; text-align:left;" border="0" width="600px">
              <tr>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
                <td style="padding:0; margin:0; width:560px; height:21px; line-height:21px; font-size:21px;" height="21px" width="560px">
                  <img src="https://www.elternbildung.ch/fileadmin/template/newsletter/newsletter_separator.png" alt="separator" />
                </td>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
              </tr>
            </table>

            <table style="padding:0; margin:auto; border-collapse:collapse; width:600px; text-align:left;" border="0" width="600px">
              <tr>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
                <td style="padding:0; margin:0; width:560px;" width="560px"><p class="nl_footer_adress" style="padding:0; margin:0; font-size:12px; color:#999; font-family:Arial,sans-serif; line-height:18px;"><p style="padding:0; margin:0; margin-bottom: 10px; font-size:12px; color:#000000; font-family:Arial,sans-serif; line-height:18px; text-align:left;">Steinwiesstrasse 2, 8032 Zürich, T 044 253 60 60, <a href="https://www.elternbildung.ch/" style="padding:0; margin:0; font-size:12px; color:#000; font-family:Arial,sans-serif; line-height:18px; text-decoration:underline;">www.elternbildung.ch</a>, <a href="mailto:info@elternbildung.ch" style="padding:0; margin:0; font-size:12px; color:#000; font-family:Arial,sans-serif; line-height:18px; text-decoration:underline;">info@elternbildung.ch</a></p></p></td>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
              </tr>

              <tr>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
                <td style="padding:0; margin:0; width:560px"><img src="https://www.elternbildung.ch/fileadmin/template/newsletter/newsletter_separator.png" alt="separator" /></td>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td style="padding:0; margin:0; width:600px; height:6px;" width="600px" height="6px" colspan="3"></td>
        </tr>
        <tr>
          <td style="padding:0; margin:0; width:600px; height:25px;" width="600px" height="25px" colspan="3"></td>
        </tr>
        <!-- FOOTER END -->
      </table>

      <br/><br/>

      <table style="padding:0; margin:auto; background-color:#ffffff; border-collapse:collapse; width:100%; text-align:left;" border="0" width="600px" bgcolor="#ffffff">
        <!-- HEAD BEGIN -->
        <tr>
          <td style="padding:0; margin:0; width:600px; height:9px;" width="600px" height="9px" colspan="3"></td>
        </tr>

        <tr>
          <td style="padding:0; margin:0; width:600px; height:4px;" width="600px" height="4px" colspan="3"></td>
        </tr>
        <tr>
          <td style="padding:0; margin:0; width:600px;" width="600px" colspan="3">
            <img src="https://www.elternbildung.ch/fileadmin/template/newsletter/newsletter_header.jpg" alt="Headerbild" />
          </td>
        </tr>
        <!-- CONTENT BEGIN -->
        <tr>
          <td style="padding:0; margin:0; width:600px;" width="600px" colspan="3">
            <!-- CONTENT ELEMENT 1 BEGIN -->
            <table style="padding:0; margin:auto; border-collapse:collapse; width:600px; text-align:left;" border="0" width="600px">
              <tr>
                <td style="padding:0; margin:0; width:20px;" width="20px"></td>
                <td colspan="2">
                  <br /><br />
                  <h1 style="font-family: Arial,sans-serif; color: #d02184; font-size: 18px; margin: 0; padding: 0;">Statistiques pour le cours "[Kurstitel]"</h1>
                  <img src="https://www.elternbildung.ch/fileadmin/template/newsletter/newsletter_separator.png" alt="separator">
                  <br /><br />
                </td>
              </tr>
              <tr>
                <td style="padding:0; margin:0; width:600px; height:21px; line-height:21px; font-size:21px;" height="21px" width="600px" colspan="3">&nbsp;</td>
              </tr>
              <tr>
                <td style="padding:0; margin:0; width:20px;" width="20px"></td>
                <td style="padding:0; margin:0; width:560px;" width="580px">
                  <!-- REAL Content START -->
                  <p>
                    Bonjour {name},<br/><br/>

                    Votre cours «{course_titel}» est terminé. Nous espérons qu’il a pu se dérouler.<br/><br/>

                    <!--Il vous reste encore une tâche à effectuer : les statistiques (<a href="<v:format.url.decode>{formlink.2}</v:format.url.decode>">Lien statistique</a>).<br/><br/>-->
                    Il vous reste encore une tâche à effectuer : les statistiques.<br/>
                    Ce cours a-t-il eu lieu?
                    <a href="<v:format.url.decode>{formlink.0}</v:format.url.decode>&tx_powermail_pi1[field][durchgefuehrt]=Ja" style="text-decoration: none;"><span style="background-color: #9efc32; border: 1px solid black;padding: 1px 10px 1px 10px;color: black;">Qui</span></a>
                    <a href="<v:format.url.decode>{formlink.0}</v:format.url.decode>" style="text-decoration: none;"><span style="background-color: #ef2c30; border: 1px solid black;padding: 1px 10px 1px 10px;color: black;">No</span></a><br/>
                    <!--<div style="background-color: #9efc32;" width="20px" height="20px">Ja</div></a>
                    <a href="<v:format.url.decode>{formlink.0}</v:format.url.decode>"><div style="background-color: #ef2c30;" width="20px" height="20px">Nein</div></a><br/>-->
                    <a href="<v:format.url.decode>{formlink.0}</v:format.url.decode>">Lien statistique</a><br/><br/>


                    Vos données nous aident à tenir une statistique suisse de la formation des parents.<br/>
                    Ensemble, nous pouvons établir une base pour le développement et la reconnaissance de notre travail comme étant une part importante du champ de la prévention.<br/><br/>

                    Nous vous remercions pour votre importante contribution.<br/>
                    Formation des parents CH <br />
                    statistique@formation-des-parents.ch<br/>
                    <a href="https://www.formation-des-parents.ch/fr/ ">www.formation-des-parents.ch</a><br /><br/>
                  </p>
                  <!-- REAL Content END -->
                </td>
                <td style="padding:0; margin:0; width:20px;" width="20px"></td>
              </tr>
              <tr>
                <td style="padding:0; margin:0; width:600px; height:21px; line-height:21px; font-size:21px;" height="21px" width="600px" colspan="3">&nbsp;</td>
              </tr>
            </table>
            <!-- CONTENT ELEMENT 1 END -->
          </td>
        </tr>
        <!-- CONTENT END -->
        <!-- FOOTER BEGIN -->
        <tr>
          <td style="padding:0; margin:0; width:600px;" width="600px" colspan="3">
            <table style="padding:0; margin:auto; border-collapse:collapse; width:600px; text-align:left;" border="0" width="600px">
              <tr>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
                <td style="padding:0; margin:0; width:560px; height:21px; line-height:21px; font-size:21px;" height="21px" width="560px">
                  <img src="https://www.elternbildung.ch/fileadmin/template/newsletter/newsletter_separator.png" alt="separator" />
                </td>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
              </tr>
            </table>

            <table style="padding:0; margin:auto; border-collapse:collapse; width:600px; text-align:left;" border="0" width="600px">
              <tr>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
                <td style="padding:0; margin:0; width:560px;" width="560px"><p class="nl_footer_adress" style="padding:0; margin:0; font-size:12px; color:#999; font-family:Arial,sans-serif; line-height:18px;"><p style="padding:0; margin:0; margin-bottom: 10px; font-size:12px; color:#000000; font-family:Arial,sans-serif; line-height:18px; text-align:left;">Steinwiesstrasse 2, 8032 Zürich, T 044 253 60 60, <a href="https://www.elternbildung.ch/" style="padding:0; margin:0; font-size:12px; color:#000; font-family:Arial,sans-serif; line-height:18px; text-decoration:underline;">www.elternbildung.ch</a>, <a href="mailto:info@elternbildung.ch" style="padding:0; margin:0; font-size:12px; color:#000; font-family:Arial,sans-serif; line-height:18px; text-decoration:underline;">info@elternbildung.ch</a></p></p></td>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
              </tr>

              <tr>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
                <td style="padding:0; margin:0; width:560px"><img src="https://www.elternbildung.ch/fileadmin/template/newsletter/newsletter_separator.png" alt="separator" /></td>
                <td style="padding:0; margin:0; width:20px; height:21px; line-height:21px; font-size:21px;" height="21px" width="20px">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td style="padding:0; margin:0; width:600px; height:6px;" width="600px" height="6px" colspan="3"></td>
        </tr>
        <tr>
          <td style="padding:0; margin:0; width:600px; height:25px;" width="600px" height="25px" colspan="3"></td>
        </tr>
        <!-- FOOTER END -->
      </table>

      <br/><br/>

    </div>
  </div>
</f:comment>
