{namespace v=FluidTYPO3\Vhs\ViewHelpers}
* Texte français ci-dessous * <br /><br />

Guten Tag {name} <br/><br/>

Elternbildung CH hat den Auftrag, alle 2 Jahre eine Statistik der Elternbildung zu erstellen. <b>2018 ist wieder Statistik-Jahr.</b><br /><br />

Unser neues Statistik-Programm soll Ihnen die Arbeit erleichtern. Nach dem Ende jedes Kurses erhalten Sie dieses Mail, welches es Ihnen gestattet, ohne grossen Aufwand die Statistik-Daten zu erfassen.<br/>
Diese Statistik dient nicht nur übergeordneten Stellen. Sie hilft auch Ihnen, Ihre Kursteilnahmen im Jahresüberblick zu sehen und mit anderen Kursen Ihrer Gegend oder zur gleichen Themengruppe zu vergleichen.<br/><br/>

Der auf der <a href="https://www.elternbildung.ch/eltern/angebote/kurse-finden/">Kurse-Plattform von Elternbildung CH</a> publizierte Kurs "{course_titel}" ist beendet. Bitte füllen Sie mit nachfolgendem Link
die Statistik zu diesem Kurs aus.<br /><br />

<a href="<v:format.url.decode>{formlink.0}</v:format.url.decode>">Link zum Statistik-Formular</a><br/><br/>

Mit freundlichen Grüssen<br/>
Elternbildung CH<br />
statistik@elternbildung.ch<br/>
<a href="https://www.elternbildung.ch/">www.elternbildung.ch</a><br /><br/>

<hr/><br/><br/>

Bonjour {name},<br/><br/>

Formation des parents CH’ a le mandat d’établir tous les deux ans une statistique des cours de formation de parents. <b>En 2018 nous ferons de nouveau cette statistique.</b><br/><br/>

Notre nouveau programme de statistiques doit vous faciliter cette tâche. Après la fin de chaque cours, vous recevrez ce message qui vous permet de saisir vos données statistiques avec un minimum d’effort.<br/>
Cette statistique ne sert pas seulement aux instances fédérales. Elle vous permet de voir la participation à vos cours durant toute l’année et de la comparer à la participation aux cours de votre région ou d’un groupe thématique.<br/><br/>

<b>Le cours "{course_titel}"</b> que vous avez publié publié dans le calendrier <a href="https://www.formation-des-parents.ch/fr/parents/offres/trouver-des-cours/">de cours de Formation des parents CH</a> <b>est terminé</b>.
Nous vous prions de bien vouloir saisir les données de participation pour la statistique de formation des parents 2018 en utilisant le lien suivant :

<a href="<v:format.url.decode>{formlink.2}</v:format.url.decode>">Lien statistique</a><br/><br/>

Avec nos meilleures salutations<br />
Formation des parents CH <br />
statistique@formation-des-parents.ch<br/>
<a href="https://www.formation-des-parents.ch/fr/ ">www.formation-des-parents.ch</a><br /><br/>

