
<label for="externalId">
	<f:translate key="tx_iscourses2_domain_model_teachers.external_id" />
</label><br />
	<f:form.textfield property="externalId" /><br />
<label for="themen">
	<f:translate key="tx_iscourses2_domain_model_teachers.themen" />
</label><br />
	<f:form.textarea property="themen" cols="40" rows="15" /><br />
<label for="werdegang">
	<f:translate key="tx_iscourses2_domain_model_teachers.werdegang" />
</label><br />
	<f:form.textarea property="werdegang" cols="40" rows="15" /><br />
<label for="istMitglied">
	<f:translate key="tx_iscourses2_domain_model_teachers.ist_mitglied" />
</label><br />
	<f:form.checkbox property="istMitglied" value="1" /><br />
<label for="onlineProfilAktiv">
	<f:translate key="tx_iscourses2_domain_model_teachers.online_profil_aktiv" />
</label><br />
	<f:form.checkbox property="onlineProfilAktiv" value="1" /><br />
<label for="bemerkungen">
	<f:translate key="tx_iscourses2_domain_model_teachers.bemerkungen" />
</label><br />
	<f:form.textarea property="bemerkungen" cols="40" rows="15" /><br />
<label for="keineBenachrichtigungen">
	<f:translate key="tx_iscourses2_domain_model_teachers.keine_benachrichtigungen" />
</label><br />
	<f:form.checkbox property="keineBenachrichtigungen" value="1" /><br />