
<table class="tx-is-courses2" >
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_teachers.external_id" />
		</td>
		<td>
			{teachers.externalId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_teachers.themen" />
		</td>
		<td>
			{teachers.themen}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_teachers.werdegang" />
		</td>
		<td>
			{teachers.werdegang}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_teachers.ist_mitglied" />
		</td>
		<td>
			{teachers.istMitglied}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_teachers.online_profil_aktiv" />
		</td>
		<td>
			{teachers.onlineProfilAktiv}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_teachers.bemerkungen" />
		</td>
		<td>
			{teachers.bemerkungen}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_teachers.keine_benachrichtigungen" />
		</td>
		<td>
			{teachers.keineBenachrichtigungen}
		</td>
	</tr>
</table>