.tx-is-courses2 {
  .profile_edit {
    div.block {
      border-bottom: 1px solid #ccc;
      margin-bottom: 30px;
      input[type=text], textarea, select {
        width: 400px;
        margin-bottom: 20px;
      }
      select[multiple="multiple"] {
        height: 150px;
      }
      label {

      }
    }
  }

  .socialbuttons {
    overflow: hidden;
    width: 70%;
    padding-top: 10px;

    @media screen and (max-width: 764px) {
      width: 100%;
      clear: both;
      float: none;
      margin-top: 20px;

      .sh_buttons {
        .sh_button {
          margin-top: 5px;
        }
      }
    }

    .socialmedia_label {
      display: block;
      clear: both;
      width: 100%;
    }

    .sh_buttons {
      width: 100%;
      overflow: hidden;

      .sh_button {
        cursor: pointer;
        display: block;
        float: left;
        height: 30px;
        width: auto;
        margin-right: 5px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;

        &:hover {
          opacity: 0.6;
        }

        .icon {
          width: 100%;
          height: 100%;
          img {
            height: 100%;
            width: auto;
          }
        }
      }
    }
  }
}