
<label for="titel">
	<f:translate key="tx_iscourses2_domain_model_courses.titel" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="titel" /><br />
<label for="beschreibung">
	<f:translate key="tx_iscourses2_domain_model_courses.beschreibung" />
</label><br />
	<f:form.textarea property="beschreibung" cols="40" rows="15" /><br />
<label for="kosten">
	<f:translate key="tx_iscourses2_domain_model_courses.kosten" />
</label><br />
	<f:form.textfield property="kosten" /><br />
<label for="dauer">
	<f:translate key="tx_iscourses2_domain_model_courses.dauer" />
</label><br />
	<f:form.textfield property="dauer" /><br />
<label for="kurstage">
	<f:translate key="tx_iscourses2_domain_model_courses.kurstage" />
</label><br />
	<f:form.textarea property="kurstage" cols="40" rows="15" /><br />
<label for="detailUrl">
	<f:translate key="tx_iscourses2_domain_model_courses.detail_url" />
</label><br />
	<f:form.textfield property="detailUrl" /><br />
<label for="anmeldeUrl">
	<f:translate key="tx_iscourses2_domain_model_courses.anmelde_url" />
</label><br />
	<f:form.textfield property="anmeldeUrl" /><br />
<label for="kursAdresse">
	<f:translate key="tx_iscourses2_domain_model_courses.kurs_adresse" />
</label><br />
	<f:form.textarea property="kursAdresse" cols="40" rows="15" /><br />
<label for="kursort">
	<f:translate key="tx_iscourses2_domain_model_courses.kursort" />
</label><br />
	<f:form.textfield property="kursort" /><br />
<label for="startDatum">
	<f:translate key="tx_iscourses2_domain_model_courses.start_datum" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="startDatum"  value="{courses.startDatum->f:format.date()}" /><br />
<label for="endDatum">
	<f:translate key="tx_iscourses2_domain_model_courses.end_datum" />
</label><br />
	<f:form.textfield property="endDatum"  value="{courses.endDatum->f:format.date()}" /><br />
<label for="anmeldeschlussDatum">
	<f:translate key="tx_iscourses2_domain_model_courses.anmeldeschluss_datum" />
</label><br />
	<f:form.textfield property="anmeldeschlussDatum"  value="{courses.anmeldeschlussDatum->f:format.date()}" /><br />
<label for="anzTeilnehmer">
	<f:translate key="tx_iscourses2_domain_model_courses.anz_teilnehmer" />
</label><br />
	<f:form.textfield property="anzTeilnehmer" /><br />
<label for="maxTeilnehmer">
	<f:translate key="tx_iscourses2_domain_model_courses.max_teilnehmer" />
</label><br />
	<f:form.textfield property="maxTeilnehmer" /><br />
<label for="status">
	<f:translate key="tx_iscourses2_domain_model_courses.status" />
</label><br />
	<f:form.textfield property="status" /><br />
<label for="externalId">
	<f:translate key="tx_iscourses2_domain_model_courses.external_id" />
</label><br />
	<f:form.textfield property="externalId" /><br />
<label for="stammdatensatzId">
	<f:translate key="tx_iscourses2_domain_model_courses.stammdatensatz_id" />
</label><br />
	<f:form.textfield property="stammdatensatzId" /><br />
<label for="anzeigeBisEnddatum">
	<f:translate key="tx_iscourses2_domain_model_courses.anzeige_bis_enddatum" />
</label><br />
	<f:form.checkbox property="anzeigeBisEnddatum" value="1" /><br />
<label for="unterlagenLinks">
	<f:translate key="tx_iscourses2_domain_model_courses.unterlagen_links" />
</label><br />
	<f:form.textarea property="unterlagenLinks" cols="40" rows="15" /><br />
<label for="teacherText">
	<f:translate key="tx_iscourses2_domain_model_courses.teacher_text" />
</label><br />
	<f:form.textfield property="teacherText" /><br />
<label for="picture">
	<f:translate key="tx_iscourses2_domain_model_courses.picture" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="statistik">
	<f:translate key="tx_iscourses2_domain_model_courses.statistik" />
</label><br />
	<f:form.textarea property="statistik" cols="40" rows="15" /><br />
<label for="log">
	<f:translate key="tx_iscourses2_domain_model_courses.log" />
</label><br />
	<f:form.textarea property="log" cols="40" rows="15" /><br />
<label for="statsOnlyRecord">
	<f:translate key="tx_iscourses2_domain_model_courses.stats_only_record" />
</label><br />
	<f:form.checkbox property="statsOnlyRecord" value="1" /><br />
<label for="statsReminderSent">
	<f:translate key="tx_iscourses2_domain_model_courses.stats_reminder_sent" />
</label><br />
	<f:form.textfield property="statsReminderSent"  value="{courses.statsReminderSent->f:format.date()}" /><br />