        <tr class="{zebraClass} datarow" data-categories="{course.categories}">
          <td class="titel"><f:link.page pageUid="{course.detail_url}"><f:format.html>{course.titel}</f:format.html></f:link.page></td>
          <td class="beginn"><f:format.date format="d.m.Y">{course.start_datum}</f:format.date></td>
          <td class="kosten">{course.kosten}</td>
          <td class="anzpl">{course.anz_teilnehmer} / {course.max_teilnehmer}</td>
          <td class="anmelden">
            <f:if condition="{course.anz_teilnehmer} < {course.max_teilnehmer}">
              <f:then>
                <f:if condition="{course.anmelde_url}">
                <span class="anmeldelink">
                  <f:link.action pageUid="{course.anmelde_url}" action="show" controller="Courses" arguments="{course_uid: course.uid}"
                                 additionalParams="{course.params}"><f:translate key="tx_iscourses2.anmelden">Anmelden</f:translate></f:link.action>
                </span>
                </f:if>
              </f:then>
              <f:else>
                <f:translate key="tx_iscourses2.ausgebucht">ausgebucht</f:translate>
              </f:else>
            </f:if>
            <f:if condition="{course.writable}">
              <f:link.action action="edit" controller="Courses" arguments="{course_uid: course.uid}"><f:translate key="tx_iscourses2.bearbeiten">Bearbeiten</f:translate></f:link.action>
            </f:if>
          </td>
        </tr>
