<script type="application/ld+json">
{
  <f:if condition="1"></f:if>
  "@context": "http://www.schema.org",
  "@type": "Event",
  "name": "{course.titel}",
  "url": "{f:uri.page(pageUid: '{course.detail_url}')}",
  "description": "{course.beschreibung}",
  "startDate": "{course.start_datum -> f:format.date(format: 'd/m/Y H:i')}",
  "endDate": "{course.end_datum -> f:format.date(format: 'd/m/Y H:i')}",
  "location": {
    "@type": "Place",
    "name": "INSOR",
    "sameAs": "https://www.insor.ch",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Hertistrasse 1",
      "addressLocality": "Wallisellen",
      "addressRegion": "ZH",
      "postalCode": "8304",
      "addressCountry": "Switzerland"
    }
  },
  "offers": {
    <f:if condition="1"></f:if>
    "@type": "Offer",
    "description": "Kursteilnahme",
    "price": "{course.kosten_int}",
    "priceCurrency": "CHF",
    "url": "<f:uri.action pageUid="{course.anmelde_url}" action="show" controller="Courses" arguments="{course_uid: course.uid}" additionalParams="{course.params}" />"
  },
  "image": "<f:uri.image width="450c" height="255c" src="{course.picture.0.uid}" />"
}
</script>