<td>
  <b><f:translate key="tx_iscourses2.kurs_datei_upload_status">Status:</f:translate> {course.similars.status}</b><br/>
  <span><f:translate key="tx_iscourses2.kurs_datei_upload_importierter_kurs">Zu importierender Kurs:</f:translate></span>
  <f:if condition="{course.similars.items}">
    <f:then>
      <f:form.select name="select-action-{course.0}" value="ignore" options="{course.similars.similars_options}"/>
    </f:then>
    <f:else>
      <f:form.select name="select-action-{course.0}" value="new" options="{course.similars.similars_options}"/>
    </f:else>
  </f:if>
</td>
<f:for each="{course}" as="field" key="fieldname">
  <f:comment>
    Weil condition='{fieldname} == "similars"' = 0 ist, muss man es separat abfangen. Macht Sinn, oder?
  </f:comment>
  <f:if condition="{fieldname} == '0'">
    <f:then>
    </f:then>
    <f:else>
      <f:if condition='{fieldname} == "similars"'>
        <f:then>
        </f:then>
        <f:else>
          <td><f:format.html parseFuncTSPath="">{field}</f:format.html></td>
        </f:else>
      </f:if>
    </f:else>
  </f:if>
</f:for>