{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<td>
  <span><f:translate key="tx_iscourses2.kurs_datei_upload_score">Uebereinstimmung:</f:translate> {similar_item.meta.similarity_score}%</span>
  <br />
  <span><f:translate key="tx_iscourses2.kurs_datei_upload_kurs_id">Kurs ID:</f:translate> {similar_item.meta.uid}</span>
  <br />
  <f:if condition="{similar_item.meta.same_owner} == 0">
    <f:then>
      <span style="font-weight:bold"><f:translate key="tx_iscourses2.kurs_datei_upload_eintrag_nicht_besitzer">Sie sind nicht Besitzer des Kurses</f:translate></span>
    </f:then>
    <f:else>
      <span><f:translate key="tx_iscourses2.kurs_datei_upload_eintrag_besitzer">Sie sind Besitzer des Kurses</f:translate></span>
    </f:else>
  </f:if>
</td>
<f:for each="{similar_item}" as="field" key="fieldname" iteration="iterator">
  <f:switch expression="{fieldname}">
    <f:case value="meta">

    </f:case>
    <f:case value="similars">

    </f:case>
    <f:defaultCase>
      <v:variable.set name="marked" value="0" />
      <f:for each="{similar_item.meta.similar_fields}" as="similar_field" >
        <f:if condition="{similar_field} == {fieldname}">
          <v:variable.set name="marked" value="1" />
        </f:if>
      </f:for>
      <f:if condition="{marked} == '1'">
        <f:then>
          <td style="background-color: palevioletred;"><f:format.html parseFuncTSPath="">{field}</f:format.html></td>
        </f:then>
        <f:else>
          <td><f:format.html parseFuncTSPath="">{field}</f:format.html></td>
        </f:else>
      </f:if>
    </f:defaultCase>
  </f:switch>
</f:for>