
<table class="tx-is-courses2" >
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.titel" />
		</td>
		<td>
			{courses.titel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.beschreibung" />
		</td>
		<td>
			{courses.beschreibung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.kosten" />
		</td>
		<td>
			{courses.kosten}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.dauer" />
		</td>
		<td>
			{courses.dauer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.kurstage" />
		</td>
		<td>
			{courses.kurstage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.detail_url" />
		</td>
		<td>
			{courses.detailUrl}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.anmelde_url" />
		</td>
		<td>
			{courses.anmeldeUrl}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.kurs_adresse" />
		</td>
		<td>
			{courses.kursAdresse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.kursort" />
		</td>
		<td>
			{courses.kursort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.start_datum" />
		</td>
		<td>
			{courses.startDatum -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.end_datum" />
		</td>
		<td>
			{courses.endDatum -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.anmeldeschluss_datum" />
		</td>
		<td>
			{courses.anmeldeschlussDatum -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.anz_teilnehmer" />
		</td>
		<td>
			{courses.anzTeilnehmer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.max_teilnehmer" />
		</td>
		<td>
			{courses.maxTeilnehmer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.status" />
		</td>
		<td>
			{courses.status}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.external_id" />
		</td>
		<td>
			{courses.externalId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.stammdatensatz_id" />
		</td>
		<td>
			{courses.stammdatensatzId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.anzeige_bis_enddatum" />
		</td>
		<td>
			{courses.anzeigeBisEnddatum}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.unterlagen_links" />
		</td>
		<td>
			{courses.unterlagenLinks}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.teacher_text" />
		</td>
		<td>
			{courses.teacherText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.picture" />
		</td>
		<td>
			{courses.picture.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.statistik" />
		</td>
		<td>
			{courses.statistik}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.log" />
		</td>
		<td>
			{courses.log}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.stats_only_record" />
		</td>
		<td>
			{courses.statsOnlyRecord}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_iscourses2_domain_model_courses.stats_reminder_sent" />
		</td>
		<td>
			{courses.statsReminderSent -> f:format.date()}
		</td>
	</tr>
</table>